.message {
  display: flex;
  align-items: center;
}

.message-sent {
  flex-direction: row-reverse;
  text-align: right;
}

.message-received {
  text-align: left;
}

.message-words {
  color: var(--clr-light);
}

.message-info {
  display: flex;
}

.message-author {
  margin: 3px;
  font-weight: bold;
}

.message-date {
  color: var(--clr-other);
  margin: 3px;
}

.message-text {
  margin: 3px;
}

.message-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
